body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    background: white;
}

h1{
    color: white;
}
p{
    color: black;
}
ul{
    background-color: coral;
    width: 300px;
}

.navbar {
    background: coral;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.menu {
    font-size: 24px;
    cursor: pointer;
}

.banner {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6_powVekrna59_IlSILF8IOnQz6uF1HQuyA&s') center/cover no-repeat;
    padding: 50px 0;
    text-align: center;
}

.banner input {
    width: 260px;
    padding: 8px;
    border-radius: 24px;
    border: 1px solid whitesmoke;
    height: 30px;
}

.banner button {
    background: coral;
    color: whitesmoke;
    border: none;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    font-size: 20px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background: whitesmoke;
    box-shadow: -2px 0 20px #0003;
    display: none;
    z-index: 99;
    flex-direction: column;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 0;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}

#closeSidebar {
    font-size: 28px;
    color: black;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 18px;
}
section {
    padding: 30px 24px;
}

#categoriesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 24px;
}

.category-card {
    text-align: center;
    background: whitesmoke;
    padding: 14px;
    border-radius: 14px;
    box-shadow: 0 2px 12px #0001;
    cursor: pointer;
}

.category-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.category-card span {
    display: block;
    margin-top: 8px;
    font-weight: bold;
    color: coral;
}
